# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
venv_*/

# Editor
.vscode/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db